html {
    --primary: #EB6C27;
    --text: #3A3A3A;
    --text-gray: #888888;
    --bg: #FFFFFF;
}

@font-face {
    font-family: 'Open Sans';
    src: url(./fonts/OpenSans-VariableFont_wdth\,wght.ttf);
}
@font-face {
    font-family: 'Inter';
    src: url(./fonts/Inter-VariableFont_slnt\,wght.ttf);
}


body {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    margin-left: 0;
    margin-right: 0;
}


h1 {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 41px;
    letter-spacing: -0.05em;
}

h2 {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 30px;
    letter-spacing: -0.05em;
}

h3 {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 27px;
    letter-spacing: -0.05em;
}

.header {
    background-image:url(../media/pageheader-1920w.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: 25%;
    height: 50vh;
    width: 100vw;
    max-height: 20em;
    position: relative;
    background-blend-mode: darken;
    background-color: rgba(70, 70, 70, 0.5);
}

.navbar {
    display: flex;
    align-content: space-between;
    background-color: var(--bg);
    height: 5em;
    width: 100vw;
    padding: 1em 0 1em;
}

.navbar__logo {
    height: 75%;
}

.header__text {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.header__title, .header__sub-title {
    text-align: center;
    color: var(--bg);
}

.header__title {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 800;
    font-size: 30px;
    line-height: 41px;
    letter-spacing: -0.05em;
}
