html {
    --primary: #EB6C27;
    --text: #3A3A3A;
    --text-gray: #888888;
    --bg: #FFFFFF;
    --dim: rgba(70, 70, 70, 0.5);
    --darker-dim: rgba(50, 50, 50, 0.8);
}

body {
    margin-left: 0;
    margin-right: 0;
}

.header {
    background-image:url(../media/pageheader-1920w.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: 25%;
    height: 50vh;
    width: 100vw;
    max-height: 20em;
    position: relative;
    background-blend-mode: darken;
    background-color: var(--dim);
}

.header__text {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.header__title, .header__sub-title {
    text-align: center;
    color: var(--bg);
}

.navbar {
    background-color: var(--bg);
    height: 5em;
    width: calc(100vw - 2em);
    padding: 1em 1em 1em;
}

.navbar__logo {
    max-height: 75%;
}

.navbar__line {
    width: 46px;
    height: 8px;
    background: linear-gradient(90deg, #EB6C27 0%, #FFBE9A 100%);
}



.highlight {
    color: var(--primary);
}

.article__image {
    width: 100%;
    display: block;
    margin: 0;
    padding: 0;
}


.btn {
    padding: 12px 40px;
    background-color: var(--primary);
    color: var(--bg);
    width: fit-content;
}

.btn--outlined {
    background-color: var(--bg);
    color: var(--primary);
    outline: dashed var(--primary) 1px;
}

.article:nth-child(2n) > img {
    border-radius: 0 0 30px 0;
}

.article:nth-child(2n + 1) > img {
    border-radius: 0 0 0 30px;
}

.article__content {
    margin-bottom: 2em;
}


.guarantee-banner {
    width: calc(100%-3em);
    margin: 5em 0 5em;
    background-color: var(--darker-dim);
    background-blend-mode: darken;
    background-image: url(../media/background-CTAblock-4460w.jpg);
    background-position: center;
    background-size: 250%;
    background-repeat: no-repeat;
    min-height: 190px;
    padding: 1.5em;
}