@font-face {
    font-family: 'Open Sans';
    src: url(./fonts/OpenSans-VariableFont_wdth\,wght.ttf);
}
@font-face {
    font-family: 'Inter';
    src: url(./fonts/Inter-VariableFont_slnt\,wght.ttf);
}

html {
    --primary: #EB6C27;
    --text: #3A3A3A;
    --text-gray: #888888;
    --bg: #FFFFFF;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: var(--text);
}


body {
    margin-left: 0;
    margin-right: 0;
}



h1 {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 41px;
    letter-spacing: -0.05em;
}

h2 {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 30px;
    letter-spacing: -0.05em;
}

h3 {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 27px;
    letter-spacing: -0.05em;
}

a:link, a:visited, a:hover, a:active {
    color: var(--text);
    text-decoration: none;
}

.header {
    background-image:url(../media/pageheader-1920w.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: 25%;
    height: 50vh;
    width: 100vw;
    max-height: 20em;
    position: relative;
    background-blend-mode: darken;
    background-color: rgba(70, 70, 70, 0.5);
}

.header__text {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.header__title, .header__sub-title {
    text-align: center;
    color: var(--bg);
}

.header__title {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 800;
    font-size: 30px;
    line-height: 41px;
    letter-spacing: -0.05em;
}

.navbar {
    display: flex;
    align-content: center;
    background-color: var(--bg);
    height: 5em;
    width: calc(100vw - 2em);
    padding: 1em 1em 1em;
    justify-content: space-between;
}

.navbar__menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: fit-content;
}

.navbar__logo {
    max-height: 75%;
}

a:has(.navbar__logo) {
    display: flex;
    align-items: center;
    width: fit-content;
    flex-shrink: 1;
    height: 75%;
}


.navbar__icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 5px;
}

.navbar__menu-text {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    text-transform: uppercase;
}

.navbar__line {
    width: 46px;
    height: 8px;
    background: linear-gradient(90deg, #EB6C27 0%, #FFBE9A 100%);
}

.articles {
    display: grid;
    grid-template-columns: 5% 90% 5%;
    grid-template-areas: ". ar1 ." ". ar2 ." ". ar3 ." ". ar4 ." ". ar5 .";
    row-gap: 40px;
}

.highlight {
    color: var(--primary);
}

.article__image {
    width: 100%;
}

.article--services {grid-area: ar1;}
.article--new-buildings {grid-area: ar2;}
.article--industrial {grid-area: ar3;}
.article--reconstruction {grid-area: ar4;}
.article--communication {grid-area: ar5;}


.btn {
    padding: 12px 40px;
    background-color: var(--primary);
    color: var(--bg);
    width: fit-content;
}

.btn--outlined {
    background-color: var(--bg);
    color: var(--primary);
    outline: dashed var(--primary) 1px;
}

.article:nth-child(2n) > img {
    border-radius: 0 0 30px 0;
}

.article:nth-child(2n + 1) > img {
    border-radius: 0 0 0 30px;
}