@font-face {
    font-family: 'Open Sans';
    src: url(./fonts/OpenSans-VariableFont_wdth\,wght.ttf);
}
@font-face {
    font-family: 'Inter';
    src: url(./fonts/Inter-VariableFont_slnt\,wght.ttf);
}

html {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: var(--text);
}

@layer base {

    h1 {
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 700;
        font-size: 30px;
        line-height: 41px;
        letter-spacing: -0.05em;
    }

    h2 {
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 700;
        font-size: 22px;
        line-height: 30px;
        letter-spacing: -0.05em;
    }

    h3 {
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 27px;
        letter-spacing: -0.05em;
    }

    a {
        color: var(--text);
        text-decoration: none;
    }
}

.header__sub-title {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 27px;
    letter-spacing: -0.05em;
}

.highlight {
    color: var(--primary);
}

.btn {
    font-weight: 700;
}

.header__title {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 800;
    font-size: 30px;
    line-height: 41px;
    letter-spacing: -0.05em;
}


.navbar__hamburger-text {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    text-transform: uppercase;
}

.guarantee-banner {
    color: var(--bg);
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 21px;
}

.references__reference {
    text-align: center;
}

.navbar__menu li {
    list-style-type: none;
    margin: 15px 0;
}

.navbar__menu ul {
    margin: 0;
    padding: 0;
}

.navbar__menu a {
    color: var(--bg);
    font-family: 'Open Sans';
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    margin: 0;
    padding: 0;
    text-decoration-line: underline;
}

.navbar__menu .current-page {
    font-weight: 700;
}