@font-face {
    font-family: 'Open Sans';
    src: url(./fonts/OpenSans-VariableFont_wdth\,wght.ttf);
}
@font-face {
    font-family: 'Inter';
    src: url(./fonts/Inter-VariableFont_slnt\,wght.ttf);
}

html {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: var(--text);
}
@media (min-width:875px) {
    html {
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 22px;
    }
}

@layer base {

    h1 {
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 700;
        font-size: 30px;
        line-height: 41px;
        letter-spacing: -0.05em;
    }

    h2 {
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 700;
        font-size: 22px;
        line-height: 30px;
        letter-spacing: -0.05em;
    }

    h3 {
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 27px;
        letter-spacing: -0.05em;
    }

    a {
        color: var(--text);
        text-decoration: none;
    }

    @media (min-width:875px) {

        h1 {
            font-family: 'Open Sans';
            font-style: normal;
            font-weight: 800;
            font-size: 120px;
            line-height: 163px;
            letter-spacing: -0.05em;
            text-align: center;
        }

        h2 {
            font-family: 'Open Sans';
            font-style: normal;
            font-weight: 700;
            font-size: 60px;
            line-height: 82px;
            letter-spacing: -0.05em;
        }

        h3 {
            font-family: 'Open Sans';
            font-style: normal;
            font-weight: 700;
            font-size: 30px;
            line-height: 41px;
            text-transform: uppercase;
        }


    }
}

.header__sub-title {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 27px;
    letter-spacing: -0.05em;
}

.highlight {
    color: var(--primary);
}

.btn {
    font-weight: 700;
}

.header__title {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 800;
    font-size: 30px;
    line-height: 41px;
    letter-spacing: -0.05em;
}


.navbar__hamburger-text {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    text-transform: uppercase;
}

.guarantee-banner {
    color: var(--bg);
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 21px;
}

.references__reference {
    text-align: center;
}

.navbar__menu li {
    list-style-type: none;
    margin: 15px 0;
}

.navbar__item {
    color: var(--bg);
    font-family: 'Open Sans';
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    text-decoration-line: underline;
}

.current-page {
    font-weight: 700;
}

.contact-adresses__list {
    color: var(--primary);
    font-weight: 700;
    line-height: 19px;
}

.text-section {
    line-height: 19px;
    margin: 2em 2em 4em;
    max-width: 75em;
}

.text-section__dot-list > li {
    list-style-type: disc;
    font-size: 24px;
    color: var(--primary);
}

.text-section__dot-list > li span {
    font-size: 14px;
    color: var(--text);
}

.text-section--gallery {
    text-align: center;
}

@media (min-width:875px) {

    .header__title {
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 800;
        font-size: 120px;
        line-height: 163px;
        letter-spacing: -0.05em;
    }
    .header__sub-title {
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 300;
        font-size: 60px;
        line-height: 82px;
    }

    .navbar__item {
        color: var(--text);
        background-color: var(--bg);
        text-decoration-line: none;
    }

    .navbar__item:hover {
        padding-bottom: 0;
    }

    .navbar__menu li {
        margin: 0;
    }

    .current-page {
        font-weight: 500;
        background-color: var(--primary);
        color: var(--bg);
    }
    
    .guarantee-banner {
        font-family: 'Open Sans';
        font-weight: 800;
        font-size: 30px;
        line-height: 48px;
    }

    .contact-form > h2 {
        font-weight: 700;
        font-size: 30px;
        line-height: 41px;
    }

    .contact-form__select {
        background-color: var(--bg);
    }
}


@media (min-width:1540px) {


    .reference a {
        color: var(--bg);
    }

    .reference h2 {
        font-family: 'Open Sans';
        font-weight: 700;
        font-size: 25px;
        line-height: 34px;
        text-transform: uppercase;
    }

    .reference p {
        font-family: 'Open Sans';
        font-weight: 400;
        font-size: 20px;
        line-height: 27px;
    }

    .text-section {
        line-height: inherit;
        margin-right: auto;
        margin-left: auto;
    }

    .text-section__dot-list > li span {
        font-size: 16px;
        line-height: 22px;
    }

}